
  body {
      background-color:aquamarine;
  }
  
  .grid {
      display: grid;
  }

  .main {
      

  }

  .header {
      grid-area: header;
 
  }

  .article {
      grid-area: article;

  }

  .aside {
      grid-area: aside;
 
  }

  .footer {
      grid-area: footer;
  
  }

  @media screen and (min-width: 768px) {
      body {
          background-color: lightpink;
      }
      .main {
        display: grid;
        grid-template-areas: "header header header" 
        "article . aside" 
        "footer footer footer";
        grid-template-columns: 2fr 16px 1fr;
        column-gap: 16px;
        row-gap: 16px;
        width: 770px;
        margin: 16px auto;
      }
      .footer {background-color: magenta;}

  }
  @media screen and (min-width: 1024px) {
      body {
          background-color: lemonchiffon;
      }
  }